{
	servers {
		protocols h1 h2
	}
}

{$PURPLEINK_DOMAIN} {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		-Server
	}

	handle /healthz {
		respond "ok" 200
	}

	handle {
		reverse_proxy web:3000
	}

	log {
		output stdout
		format json
	}
}
