STEP_API_KEY=
STEP_API_BASE_URL=
STEP_MODEL=
TTS_PROVIDER=listenhub-flowspeech
LISTENHUB_API_KEY=
LISTENHUB_API_BASE_URL=
LISTENHUB_TTS_ENDPOINT=/v1/tts
LISTENHUB_TTS_VOICE=
LISTENHUB_TTS_RESPONSE_FORMAT=mp3
PURPLEINK_COMPOSE_MODE=auto

